#body {
  background: url(../images/bg.jpg) top left no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 0 70px 0;
  padding: 0;
}

.yir-nav {
  background-color: rgba(48, 48, 48, 0.9);
  height: 10px;
}

.vert-center {
  min-height: 75%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 75vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}

.top-buffer {
  margin-top: 50px;
}

.translucent {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 40px;
}

.whatIsThis {
  width: 400px;
  margin-bottom: 20px;
}

.noAccountText {
  margin-top: 20px;
}

.techDetails {
  width: 400px;
  margin-top: 30px;
}

.broughtToYou {
  margin-top: 30px;
}

.pointer {
  cursor: pointer;
}

.stamp {
  margin: 1px;
}

.chart {
  text-align: center;
}

.axis text {
  fill: white;
  color: white;
}

.domain {
  fill: none;
  stroke: white;
  stroke-width: 1;
}

div.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.number {
  text-align: right;
}

.callout {
  margin-bottom: 10px;
}

.callout > .value {
  text-align: center;
  vertical-align: middle;
  font-size: 250%;
  font-weight: bold;
}
.callout > .value > .iconWrap {
  vertical-align: middle;
  display: inline-block;
  line-height: 64px;
  margin-right: 10px;
}
.callout > .value > .iconWrap > img {
  float: right;
}
.callout > .value > span {
  line-height: 64px;
  vertical-align: middle;
}

.callout > .description {
  text-align: center;
  /* pull description up just a bit */
  margin-top: -8px;
}

