#body {
  background: url(http://i.imgur.com/pwbe9.jpg) top left no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.vert-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.translucent {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
}

.axis text {
  fill: white;
}
.domain {
  fill: none;
  stroke: white;
  stroke-width: 1;
}
div.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.number {
  text-align: right;
}

.callout > .value {
  text-align: center;
  font-size: 300%;
  font-weight: bold;
}

.callout > .description {
  text-align: center;
}
